html {
    font-family: System,monospace;
    background: #a5a4ce;
}

h1 {
    text-align: center;
    color: white;
}

button{
    box-shadow: 0.5em 0.5em 3px rgb(0 0 0 / 50%);
    margin: 8px 0;
    padding: 8px 20px;
    font-weight: bolder;
    color: #fff;
    background: green;
    border: 1px outset green;
}

button:hover{
  background-color: #45a049;
}

legend {
    text-align: center;
    display: block;
}

select {
    text-align: center;
    width: 100%;
    border-radius: 4px;
    padding: 10px 22px;
    font-weight: bolder;
    box-sizing: border-box;
    background: white;
}

div .container{
    align: center;
    text-align: center;
    padding: 0px 16%;
}

div .custom-select{
    text-align: center;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 15px 0;
    border-style: inset;
}

input.text{
    width: 33%;
    text-align: center;
    padding: 12px 20px;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.box {
    background: silver;
    width: 40%;
    margin: 0 auto;
    margin-top: 35px;
    border: 6px double #fff;
    box-shadow: 0 0 0 3px silver,1em 1em 3px 0 rgba(0,0,0,.5)
.}

.box p {
    text-align: center;
    margin: 0px;
}

.icon-bar {
    display: inline-block;
    position: fixed;
    right: 35px;
    top: 35px;
}

.icon {
    width: 30px;
    height: 30px;
}

.icon:hover {
    transform: scale(1.1);
}
